/* CSS cho form thanh toán */
.checkout-form {
    max-width: 600px;
    margin: 0 auto;
}

.checkout-form h2 {
    margin-bottom: 20px;
}

.checkout-form label {
    font-weight: bold;
}

.checkout-form input[type="text"],
.checkout-form input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.checkout-form .table {
    width: 100%;
    margin-bottom: 15px;
}

.checkout-form th,
.checkout-form td {
    padding: 10px;
    text-align: left;
}

.checkout-form .total {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 15px;
}

.checkout-form button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 4px;
}

.checkout-form button:hover {
    background-color: #45a049;
}

.img img{
    width: 90px;
    height: 90px;
}
